{% extends 'havayi_base/base.html' %}
{% block content %}

     <section class="">
        <div class="container main-name">
            <div class="text-center">Ana Səhifə</div>
        </div>
    </section>

    <section class="services">
        <div class="container shadows bg-white">
            <div class="row " style="padding: 30px 50px">
                <div class="col-lg-6 col-12 d-flex justify-content-center items">
                    <a href="{% url 'credit_page' %}">
                        <div class="service-item rounded-pill">Kredit</div>
                    </a>

                </div>
                <div class="col-lg-6 col-12 d-flex justify-content-center items">
                    <a href="#">
                        <div class="service-item rounded-pill">Sığorta</div>
                    </a>

                </div>
            </div>
        </div>
    </section>
{% endblock %}





