{% extends 'havayi_base/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
     <section class="main-name">
        <div class="text-center">Daxil Olun</div>
    </section>

    <section class="services">
        <div class="container shadows bg-white">
            <form class="row position-relative " style="padding: 30px 0px" method="POST">
                {% csrf_token %}
                <div class="col-12 d-flex justify-content-center input-items flex-column text-center">
                    <label class="header-input">Istifadeci adi</label>
                    <div class="input-items-field">
                        <input class="rounded-pill w-100" ttype="text" name="username" style="padding: 0px 10px;"></div>

                </div>
                <div class="col-12 d-flex justify-content-center input-items flex-column text-center">
                    <label class="header-input">Parol</label>
                    <div class="input-items-field">
                        <input class="rounded-pill w-100" type="password" name="password" style="padding: 0px 10px;"></div>

                </div>

                <div class="col-12 d-flex justify-content-center input-items flex-column text-center">
                    <div class="input-items-field">

                        <input type="submit" name="signin" id="signin" class="rounded-pill w-100 " value="Daxil ol"/>

                    </div>
                </div>
            </form>
        </div>
    </section>

    <div style="text-align: center">
                        {% for message in messages %}
                            <h3 style="color: red" ;> {{ message }} </h3>
                        {% endfor %}
                    </div>
{% endblock %}

