<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center; border: red solid 3px; margin: 65px 500px">
    <h2>Send for bank blank</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name_surname" id="name_surname" placeholder="Name/Surname"/>
        <br>
        <input type="text" name="phone_number" id="phone_number" placeholder="Phone Number"/>
        <br>
        <input type="number" name="amount" id="amount" placeholder="Amount"/>
        <br>
        <br>
        <input type="submit" name="send" id="send" class="form-submit" value="Send"/>
    </form>
    <br>
    <br>
</div>
<br>
<br>
<div style="text-align: center;">
    <div style="text-align: center">
        {% for message in messages %}
            <h3 style="color: red" ;> {{ message }} </h3>
        {% endfor %}
    </div>
</div>
</body>
</html>