{% extends 'havayi_base/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

     <section class="main-name">
            <div class="text-center">Kredit</div>
        </section>

    <section class="services ">
        <div class="container shadows bg-white">
            <div class="row" style="padding: 30px 50px">
                {% for c in credit_fields %}
                <div class="col-lg-6 col-12 d-flex justify-content-center items">
                    <a  href="{% url 'credit' slug=c.credit_slug %}">
                        <div class="service-item rounded-pill">{{ c.credit_name }}</div>
                    </a>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}