{% extends 'havayi_base/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load  static %}

{% block css %}
<link rel="stylesheet" href="{% static 'havayi_static/css/otp.css' %}">
{% endblock %}

{% block content %}

    <section class="main-name">
        <div class="text-center">OTP</div>
    </section>

    <div class="container shadows bg-white">
        <form class="row position-relative " style="padding: 30px 0px" method="POST">
            {% csrf_token %}
            <div class="col-12 d-flex justify-content-center input-items flex-column text-center">
                <label class="header-input">OTP kodu daxil edin</label>
                <div class="input-items-field">
                    <input class="rounded-pill w-100" type="text" name="otp" style="padding: 0px 10px;"></div>

            </div>

            <div class="col-12 d-flex justify-content-center input-items flex-column text-center">
                <div class="input-items-field">
                    <input type="submit" name="otp_code" class="rounded-pill w-100 " value="Tesdiq et"/>
                </div>
            </div>
        </form>
    </div>

    <div style="text-align: center;">
    <div style="text-align: center">
        {% for message in messages %}
            <h3 style="color: red" ;> {{ message }} </h3>
        {% endfor %}
    </div>
</div>

{% endblock %}